body {
    padding: 0px;
    margin: 0px;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-deco {
    color: #1bcd1b;
    font-size: 45px;
}

.header-content-left {
    margin-left: 30px;
}

.header-content-right {
    margin-right: 100px;
}

.header-logo {
    margin: 20px 0px;
    border: 3px solid #bab1b1;
    border-radius: 120px;
    overflow: hidden;
}

.menu {
    background-color: green;
    color: white;
}

.menu-content {
    display: flex;
    margin-left: 310px;
}

.menu-content div {
    margin: 20px;
}

.banner img {
    width: 100%;
    margin-bottom: 20px;
}

.main-top {
    display: flex;

}

.main-img-top img {
    width: 500px;
}

.main-content-top {
    text-align: justify;
    padding-right: 266px;
    margin: 20px;
}

#pink-content {
    color: rgb(237 47 175);
}

.list-deco li {
    list-style-type: circle;
    color: rgb(22, 198, 183);
    font-style: italic;
}

#center {
    text-align: center;
    color: green;
}

.main-bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px 0px 50px 0px;
}

.main-content-bot {
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0px 0px 5px black;
    border-radius: 4px;
}

#green {
    color: green;
}

#orange {
    color: rgb(207, 103, 5);
    font-weight: bold;
}

.button-orange {
    background-color: rgb(244 131 25 / 98%);
    border-radius: 20px;
    margin: 0px 90px;
    padding: 20px 25px;
    color: white
}

.footer {
    background-color: green;
    text-align: center;
    padding: 15px;
    color: white;
}