.banner img {
    display: block;
    margin: 0px auto;
}

.content {
    display: flex;
    align-items: center;
}

.content img {
    width: 33%;
    padding: 20px 0px 10px;
    border-radius: 60%;
}

.content h3 {
    margin-left: 20px;
}

.footer {
    background-color: #3a8585;
    text-align: center;
    color: white;
    padding: 20px 0px;
    margin-top: 30px;
}
